
.name {
    font-size: 50px;
    font-weight: bold;
}
.video_page {
    display: flex;
   flex-direction: column;
   justify-content:center ;
   height: 100vh;
   background-color: #DAE2F8    ;
   align-items: center;
}

.video_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    text-align: center;
    padding: 12px;
    width: 100%;
}

.video_info span {
    background-color: #D6A4A4;
    color: #DAE2F8;
    padding: 5px;
    width: 100px;

}
.video_info span:hover {
    background-color: yellow;
    cursor: pointer;
    color: rgb(48, 48, 184);
}

iframe {
    border: none;
    width: 1000px;
    height: 100%;
    max-width: 100% ;
    max-height: 800px;
    
}

.frm  {
   height: 100%;
  
}